html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #121a21;
  margin: 0;
  padding: 0;
}

/* typography */
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  color: #ffffff;
}

h4 {
  font-size: 1.5rem;
  color: #ffffff;
}

h5 {
  font-size: 1.25rem;
  color: #ffffff;
}

h6 {
  font-size: 1rem;
  color: #ffffff;
}

p {
  font-size: 1rem;
}

.bg-main {
  background-color: #121a21;
}

.bg-secondary {
  background-color: #121a21;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #121a21;
  padding: 1rem 2rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.brand {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-right ul li {
  margin: 0 15px;
}

.nav-right ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-right ul li a:hover {
  color: #ddd;
}

.nav-toggle {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
  }

  .nav-right ul {
    display: none;
    flex-direction: column;
    background-color: #121a21;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-toggle:checked + .hamburger + .nav-right ul {
    display: flex;
  }

  .nav-right ul li {
    padding-left: 30px;
    margin: 10px 0;
  }

  .nav-right ul li a {
    font-size: 1.2rem;
  }

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    margin-bottom: 20px;
  }

  .footer-links {
    gap: 40px;
  }
}

#experience,
#projects,
#testimonials {
  padding: 50px 20px;
  color: white;
}

#about h2,
#experience h2,
#projects h2,
#testimonials h2 {
  margin-bottom: 20px;
}

footer {
  color: #93adc8;
  text-align: center;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 768px) {
  .footer-links {
    gap: 20px;
  }
}

.footer-links a {
  color: #93adc8;
  font-size: 16px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ddd;
}

.social-icons {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px;
  height: auto;
}

.social-icons a {
  display: flex; 
  align-items: center; 
  justify-content: center;
  color: #93adc8;
  font-size: 18px;
  text-decoration: none;
}

.social-icons a svg {
  display: block;
}

.social-icons a:hover {
  color: #ddd;
}

footer p {
  font-size: 14px;
}
